body {
    font-family: sans-serif;
    margin: 0;
    color: #333;
}
.main {
    padding: 4vw 15vw;
}
h1 {
    font-size: 3rem;
    color: rgb(232, 152, 185);
    font-weight: thin;
    text-align: center;
}
p {
    font-size: 1.3rem;
}
nav{
    ul{
        display: flex;
        list-style: none;
        padding: 2em;
        font-size: 1em;
        background-color: rgb(255, 223, 244);
        margin: 0;
        li a {
            padding: 1em;
            text-decoration: none;
            color: rgb(179, 66, 125);
        }
    }
}
.minipigs1-2{
    display: flex;
    height: auto;
    width: 100px;
    margin: auto;
    justify-content: center;
    padding: 2em;
}